* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* font-family: "Kenyan-coffee", "Raleway"; */
  }

  body{
    background: #0F0F0F;
  }
.event-header-wrapper{
    padding: 1rem 0rem ;
background-color: aqua;
    /* background-image: url("./Assets/head-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}