@font-face {
  font-family: Bebas;
  src: url(./Fonts/bebas/Bebas-Regular.otf);
}
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600&family=Raleway:wght@300;400;500&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: #0f0f0f;
}
/* .wrappe_content{
  background-color: #fff;
  width: 1450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
.event-header-wrapper {
  height: 100vh;
  background-image: url("./Assets/head-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: end;
  @media only screen and (max-width: 600px) {
    background-image: none;
    height: auto;
  }
}

.header_contianer_left {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: aqua; */
  @media only screen and (max-width: 600px) {
    padding: 3rem 0rem;
    height: auto;
  }
}
.header_contianer_left h1 {
  color: #fff;
  font-family: Bebas;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 9rem;
  @media only screen and (max-width: 600px) {
    margin-top: 0rem;
  }
}
.header_contianer_left p {
  color: #fff;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 161.687%; /* 2.9104rem */
}
.header_contianer_right {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
  @media only screen and (max-width: 600px) {
    height: auto;
  }
}

.about_section_wrapper {
  background: linear-gradient(98deg, #84068c -68.49%, #141018 86.15%);
  /* filter: blur(2px); */
  padding: 5rem 0rem;
}
.about_section_left h1 {
  color: #fff;
  font-family: Bebas;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 161.687%; /* 5.8207rem */
}

.about_section_left p {
  color: #fff;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 161.687%; /* 2.9104rem */
}

.about_section_right {
  height: 50vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: right;
}

.problem_section_wrapper {
  height: auto;
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 600px) {
    height: auto;
  }
}

.problem_container_right {
  height: 50vh;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0rem;
}
.problem_container_right_p1 {
  width: 20%;

  height: 17rem;
  /* padding: 2rem 0rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media only screen and (max-width: 600px) {
    /* background-color: aqua; */
    height: auto;
  }
}
.problem_container_right_p1 h1 {
  color: #d7d6d6;
  font-family: Bebas;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 161.687%; /* 5.4974rem */
}
.problem_container_right_p2 {
  width: 75%;
  @media only screen and (max-width: 600px) {
    /* background-color: aqua; */
    width: 65%;
  }
}
.problem_container_right_p2 p {
  color: #fff;
  /* width: 20%; */
  font-family: Montserrat;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 161.687%; /* 2.9104rem */
}

.plate_section_wrapper {
  padding: 7rem 0rem;
  background: #0f0f0f;
  @media only screen and (max-width: 600px) {
    height: auto;
    margin-top: 10rem;
  }
}

.plate_container_top h1 {
  color: #fff;
  font-family: Bebas;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: 161.687%; /* 7.2759rem */
}
.plate_container_bottom {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
}

.plate_container_bottom img {
  @media only screen and (max-width: 600px) {
    margin-top: 5rem;
    width: 60%;
  }
}

.fidelity_section_wrapper {
  padding: 4rem 0rem;
  margin-top: 3rem;
}

.fidlity_contianer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fidlity_contianer h1 {
  color: #fff;
  font-family: Bebas;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 161.687%; /* 7.2759rem */
}
.onboarding_wrapper_section{
  padding: 3rem 0rem ;
/* background-color: aqua; */
}
.boarding_container_top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.boarding_container_top span{
  color: rgba(213, 62, 145, 0.44);
font-family: Metal;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 161.687%; /* 64.675px */
letter-spacing: 13px;
@media only screen and (max-width: 600px) {
  display: none;
}
}
.boarding_container_top h1{
  color: #FFF;
font-family: Bebas;
font-size: 45px;
font-style: normal;
font-weight: 400;
line-height: 161.687%; /* 72.759px */
}
.boarding_container_bottom{
  margin-top: 3rem;
}